.highlight
  img(class="hide-on-mobile" src="/images/posts/nodejitsu.png" style="height: 80px")
  span
    | This post was written for <a href="http://nodejitsu.com">Nodejitsu</a> blog and is crossposted here.
    | <a href="http://nodejitsu.com">Nodejitsu</a> loved what I was doing at <a href="http://npmawesome.com">npmawesome.com</a>
    | and is now supporting the project.
