.other-posts
  h4 Previously...

  each page in getCollection('posts').toJSON()
    if page && !page.ignored
      div
        - classes = []
        - if(page.url === document.url) classes.push('current')
        - if(page.partner) classes.push('partner ' + page.partner)
        a(class=classes, href=page.url)!= page.title
