.highlight.strongloop
  img(class="hide-on-mobile" src="/images/posts/strongloop.png" style="height: 80px")
  span
    :markdown
      [StrongLoop][1] makes it easy to [develop APIs][2] in Node, plus get [DevOps capabilities][3] like monitoring, debugging and clustering.

      [1]: http://strongloop.com/
      [2]: http://strongloop.com/mobile-application-development/loopback/
      [3]: http://strongloop.com/node-js-performance/strongops/
