---
layout: default
isPaged: true
pagedCollection: posts
pageSize: 20
---
//- pre= JSON.stringify(getCollection('documents').toJSON(), null, 2)

each page in getCollection('pagedPosts').toJSON().slice(document.page.startIdx, document.page.endIdx)
  unless page.meta.ignored
    != partial('post', {post: page})

if document.page.count > 1
  footer.pagination
    ul
      - if(!hasPrevPage())
          li.disabled: span Prev
      - else
          li: a(href=getPrevPage()) Prev

      - for(var pageNumber = 0; pageNumber < document.page.count; pageNumber++)
          - if(document.page.number === pageNumber)
              li.active: span= pageNumber + 1
          - else
              li: a(href=getPageUrl(pageNumber))= pageNumber + 1

      - if(!hasNextPage())
          li.disabled: span Next
      - else
          li: a(href=getNextPage()) Next

script(type="text/javascript").
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'npmawesome'; // required: replace example with your forum shortname

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());