---
layout: default
isPaged: true
pagedCollection: posts
pageSize: 20
---
//- pre= JSON.stringify(getCollection('documents').toJSON(), null, 2)

each page in getCollection('pagedPosts').toJSON().slice(document.page.startIdx, document.page.endIdx)
  if !page.ignored
    != partial('post', {post: page, isPreview: true})

if document.page.count > 1
  footer.pagination
    ul
      - if(!hasPrevPage())
          li.disabled: span Prev
      - else
          li: a(href=getPrevPage()) Prev

      - for(var pageNumber = 0; pageNumber < document.page.count; pageNumber++)
          - if(document.page.number === pageNumber)
              li.active: span= pageNumber + 1
          - else
              li: a(href=getPageUrl(pageNumber))= pageNumber + 1

      - if(!hasNextPage())
          li.disabled: span Next
      - else
          li: a(href=getNextPage()) Next
