!!!
head
  title= preparedTitle() + ' | ' + site.title
  link(rel="alternate" title="RSS" type="application/rss+xml" href="#{site.url}/rss")
  meta(charset="utf-8")
body
    h1= preparedTitle()
    != content
